*.iml
.gradle
/Android/local.properties
/Android/.idea/
.DS_Store
/Android/.DS_Store
/Android/build
/Android/captures
.externalNativeBuild
.cxx
Android/.DS_Store
Cloud Functions/firebase_func/functions/NUSTown-984db999f43e.json
Cloud Functions/firebase_func/functions/NUSTown-ffc8c62cae11.json
